<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>老师获取病假单</title>
  <script src="../pages/lib/vue.js"></script>
  <script src="../pages/lib/axios.js"></script>
</head>

<body>

  <div id="abc">
    <input type="button" value="老师获取所需要的审批的学生病假表" @click="getForm">
    <table class="table table-hover" v-if="isshow">
      <tr>
        <td>病假单编号</td>
        <td>学号</td>
        <td>病假原因</td>
        <td>申请时间</td>
      </tr>

      <tr v-for="item in studentList" v-if="item != null">
        <td>{{item.sickleave_ID}}</td>
        <td>{{item.student_ID}}</td>
        <td>{{item.reason}}</td>
        <td>{{item.application_time}}</td>
      </tr>
    </table>
  </div>
  <!-- <div style="text-align-last: center;">
          <div id = "abc">
               <p>姓名：</p> 
                
                <input v-model="name" placeholder="">
                
                <p>学号：</p>
                
               <input v-model="student_ID" placeholder=""> -->

  <!--               
                 <p>性别：</p>
                <input type="radio" id="男" value="男" v-model="picked">
                <label for="男">男</label>
                <br>
                <input type="radio" id="女" value="女" v-model="picked">
                <label for="女">女</label>
                <br>

                <p>
                  联系电话：
                </p>
                <input v-model = "telephone" placeholder= "编辑我……">
      
              <p>专业学院：</p>
              <input v-model="professional" placeholder="编辑我……"> -->

  <!-- <p >年级：</p>
               <input type= "radio" id= "大一" value= "大一" v-model ="picked">
               <label for = "大一">大一</label>
               <br>
               <input type= "radio" id= "大二" value= "大二" v-model ="picked">
               <label for = "大二">大二</label>
               <br>
               <input type= "radio" id= "大三" value= "大三" v-model ="picked">
               <label for = "大三">大三</label>
               <br>
               <input type= "radio" id= "大四" value= "大四" v-model ="picked">
               <label for = "大四">大四</label>
               <br>  -->

  <!-- <p>请填写病假原因：</p>
               
              <input v-model = "reason" placeholder= "">

            <p>请填写申请病假时间：</p>
            
             
             <input v-model = "application_time" placeholder= "">
          
              <p>请填写预计销假时间：</p>
             <input v-model = "endtime" placeholder= "编辑我……"> -->
  <div style="text-align:center;">
    <div id="abd">
      <h1>老师审批</h1>
      <p>批准老师ID：</p>
      <input v-model="teacher_ID" placeholder="">

      <p>批准时长(天)：</p>
      <input v-model="allowedays" placeholder="">

      <p>老师批准病假时间：</p>
      <input v-model="approval_time" placeholder="" onclick="createOutDiv()" id="putid">

      <p>病假单编号：</p>
      <input v-model="sickleave_ID" placeholder="">
      <p> </p>
      <input type="button" value="提交审批后的病假单" @click="submitone">

      <!-- <input type = "button" value ="学生点击提交" @click="submit"> -->

      <!-- <ul class="student_list">
             <li v-for="item in studentList">
              <div class ="info_stuID"><span calss ="stu">{{ item.student_ID }}</span></div>
             </li>
           </ul> -->
    </div>

  </div>
  <div id="app">
    <p>输入病假单编号：</p>
    <input v-model="sickleave_ID" placeholder="">
    <input type="button" value="老师查看已经销假的病假单" @click="submittwo">

    <table class="table table-hover" v-if="ifshow">
      <tr>
        <td>学生学号</td>
        <td>老师ID</td>
        <td>病假原因</td>
        <td>学生申请病假时间</td>
        <td>老师审批时间</td>
        <td>准假天数</td>
        <td>销假时间</td>

      </tr>

      <tr v-for="item in sickList" v-if="item != null">
        <td>{{item.student_ID}}</td>
        <td>{{item.teacher_ID}}</td>
        <td>{{item.reason}}</td>
        <td>{{item.application_time}}</td>
        <td>{{item.approval_time}}</td>
        <td>{{item.allowedays}}</td>
        <td>{{item.terminate_time}}</td>
      </tr>
    </table>
  </div>
  <script>
    var abc = new Vue({
      el: "#abc",
      data: {
        // name:'',
        student_ID: '',
        //picked : '男',
        //professional:'',
        //picked : '大一',
        reason: '',
        application_time: '',
        // endtime:'',
        // telephone:'',
        // teacher_ID:'',
        // allowedays:'',
        // approval_time:'',
        isshow: false,
        studentList: []
      },

      methods: {
        getForm: function () {
          var that = this;
          axios.get("http://49.234.96.221:85/api/12/apply/SSE").then(function (
          response) { //http://49.234.96.221:85/api/12/apply/+老师的department

            //that.application_time= response.data.application_time
            //console.log(response)
            console.log(response.data);
            that.studentList = response.data;
            that.isshow = true;
          }, function (err) {})
        }
      },
    })

    var abd = new Vue({ //老师从后端获取数据，approvaltime（老师批准病假时间），teacherID，allowedays（允许病假时长）
      el: "#abd",
      data: {
        teacher_ID: '',
        allowedays: '',
        approval_time: '',
        sickleave_ID: ''
      },
      methods: {
        submitone: function () {
          console.log(this.date);
          var url =
          "http://49.234.96.221:85/api/12/agree"; //老师从后端获取数据，approvaltime（老师批准病假时间），teacherID，allowedays（允许病假时长）
          let that = this;
          axios.post(
            url, {
              "teacher_ID": this.teacher_ID,
              "allowedays": this.allowedays,
              "approval_time": this.approval_time,
              "sickleave_ID": this.sickleave_ID
            }).then(function (response) {
            alert("提交成功");
            that.result = response.data;
            console.log(response.data)
          }, function (err) {
            console.log(err);
          })
        }
      }
    })

    var app = new Vue({
      el: "#app",
      data: {
        sickleave_ID: '',
        ifshow: false,
        sickList: []
      },
      methods: {
        submittwo: function () {
          var that = this;
          axios.get("http://49.234.96.221:85/api/13".concat("/", this.sickleave_ID)).then(function (response) {
            console.log(response.data);
            // that.sickleave_ID = response.sickleave_ID;
            that.sickList = response;
            that.ifshow = true;
          }, function (err) {})
        }
      }
    })
  </script>
  <script type="text/javascript">
    var outDiv = null; //全局变量
    var table = null;

    function createOutDiv() {
      var mydate = new Date();
      var year = mydate.getFullYear(); //年
      var month = mydate.getMonth(); //月
      var day = mydate.getDate(); //日

      if (outDiv != null) {
        document.body.removeChild(outDiv);
        outDiv = null;
      }

      outDiv = document.createElement("div");
      outDiv.style.width = "200px";
      outDiv.style.height = "200px";
      outDiv.style.border = "1px red solid";

      var topDiv = document.createElement("div");
      topDiv.style.width = "200px";
      topDiv.style.height = "30px";
      topDiv.style.backgroundColor = "lightgray";

      var leftDiv = document.createElement("div");
      leftDiv.style.width = "20px";
      leftDiv.style.height = "20px";
      leftDiv.style.backgroundColor = "greenyellow";
      leftDiv.innerHTML = "<";
      leftDiv.style.textAlign = "center";
      leftDiv.style.marginTop = "5px";
      leftDiv.style.marginLeft = "5px";
      leftDiv.style.float = "left";
      leftDiv.style.lineHeight = "1em";
      leftDiv.style.cursor = "pointer";

      var rightDiv = document.createElement("div");
      rightDiv.style.width = "20px";
      rightDiv.style.height = "20px";
      rightDiv.style.backgroundColor = "greenyellow";
      rightDiv.innerHTML = ">";
      rightDiv.style.textAlign = "center";
      rightDiv.style.marginTop = "5px";
      rightDiv.style.marginRight = "5px";
      rightDiv.style.float = "right";
      rightDiv.style.lineHeight = "1em";
      rightDiv.style.cursor = "pointer";

      var centerDiv = document.createElement("div");
      centerDiv.style.width = "130px";
      centerDiv.style.height = "20px";
      centerDiv.style.marginLeft = "10px";
      centerDiv.style.marginTop = "5px";
      centerDiv.style.float = "left";
      centerDiv.style.backgroundColor = "gold";
      centerDiv.innerHTML = year + "年" + (month + 1) + "月" + day + "日";
      centerDiv.style.textAlign = "center";
      centerDiv.style.lineHeight = "1em";

      leftDiv.onclick = function () {
        mydate.setMonth(mydate.getMonth() - 1);
        centerDiv.innerHTML = mydate.getFullYear() + "年" + (mydate.getMonth() + 1) + "月" + mydate.getDate() + "日";
        if (table != null) {
          outDiv.removeChild(table);
          table = null;
        }
        createTable(mydate);
      }

      rightDiv.onclick = function () {
        mydate.setMonth(mydate.getMonth() + 1);
        centerDiv.innerHTML = mydate.getFullYear() + "年" + (mydate.getMonth() + 1) + "月" + mydate.getDate() + "日";
        if (table != null) {
          outDiv.removeChild(table);
          table = null;
        }
        createTable(mydate);
      }

      topDiv.appendChild(leftDiv);
      topDiv.appendChild(centerDiv);
      topDiv.appendChild(rightDiv);
      outDiv.appendChild(topDiv);
      document.body.appendChild(outDiv);

      createTable(mydate); //调用创建表格方法
    }

    function createTable(mydate) {
      table = document.createElement("table");
      table.border = "1px"
      table.style.textAlign = "center";
      table.width = "200px";
      table.height = "170px";
      var week = ["日", "一", "二", "三", "四", "五", "六"];
      var d = new Date(); //获取当前日期
      d.setFullYear(mydate.getFullYear());
      d.setMonth(mydate.getMonth());
      var month = d.getMonth();
      d.setDate(1); //将当前日期设置成此月份的1号
      var w = d.getDay();
      d.setDate(d.getDate() - w);

      var time = new Date();

      var color;
      for (var i = 0; i < 7; i++) {
        var tr = document.createElement("tr");
        for (var j = 0; j < 7; j++) {
          var td = document.createElement("td");
          tr.appendChild(td); //td追加到tr中
          if (i == 0) { //是否是第一行
            td.innerHTML = week[j];
            td.style.fontWeight = "bold"; //字体加粗
          } else {
            // if(d.getMonth()<10)
            //   {
            //       td.title = d.getFullYear() + "-" +"0"+ (d.getMonth()+1) + "-" + d.getDate();
            //   }
            //   if(d.getDate()<10)
            //   {
            //       td.title = d.getFullYear() + "-" + (d.getMonth()+1) + "-" +"0"+d.getDate();
            //   }
            //   if(d.getMonth()<10&&d.getDate()<10)
            //   {td.title = d.getFullYear() + "-" +"0"+ (d.getMonth()+1) + "-"  +"0"+d.getDate();}
            //   else{
            td.title = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate(); //}

            if (j == 6 || j == 0) {
              td.style.color = "red";
            }

            if (d.getMonth() != month) {
              td.style.color = "gray";
            }

            td.style.cursor = "pointer"; //设置鼠标
            td.onmouseover = function () {
              color = this.style.backgroundColor;
              this.style.backgroundColor = "aqua";

            }

            td.onmouseout = function () {
              this.style.backgroundColor = color;
            }

            td.onclick = function () {
              var inputObj = document.getElementById("putid");
              inputObj.value = this.title;
              if (outDiv != null) {
                document.body.removeChild(outDiv);
                outDiv = null;
              }
            }

            if (time.getFullYear() == d.getFullYear() && time.getMonth() == d.getMonth() && time.getDate() == d
              .getDate()) {
              td.style.backgroundColor = "green";
              td.style.fontWeight = "bold";
              td.style.textDecoration = "underline";
            }

            td.innerHTML = d.getDate();
            d.setDate(d.getDate() + 1); //每循环一次日期加1天
          }
        }
        table.appendChild(tr); //tr追加到table中
      }
      outDiv.appendChild(table); //table追加到outDiv中
    }
  </script>
</body>

</html>