<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="lib/bootstrap.css">
    <script src="lib/vue.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/axios.js"></script>

    <!--CDN
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	bootstrap.js依赖于jquery.js，因此先引入
	<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    -->
    <style>
        body {
            padding-top: 0px;
        }

        .starter {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>

<body>
<div id="app">
    <!--页面顶部的导航栏-->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">设施开放情况查询</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  
                </ul>
                <!--<form class="navbar-form navbar-left">-->
                <div class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入设施ID" @keyup.enter="submit"
                               v-model="facilityID">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入日期" @keyup.enter="submit"
                               v-model="date">
                    </div>
                    <button type="submit" class="btn btn-default">查询</button>
                </div>
                <!--</form>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="facilityRecordSearch.html">清空</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">其他 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--页面底部的导航栏-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    学生健康信息数据库/疫情打卡系统
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">首页</a></li>
                <li><a href="#">登录</a></li>-->
                    <li><a href="#">Copyright@2020</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <table class="table table-hover ">
            <caption>设施开放情况表</caption>
            <thead>
            <tr>
                <th>设施名称</th>
                <th>每周期起始开放日</th>
                <th>每周最终开放日</th>
                <th>每天开放时间</th>
                <th>每天关闭时间</th>
                <th>设施容量</th>
                <th>每时间段剩余容量</th>
            </tr>
                </thead>
            <tbody>
            <tr v-for="(x,index) in periodLeft">
                
                <th scope="row">{{name}}</th>
                <td>{{startDate}}</td>
                <td>{{endDate}}</td>
                <td>{{startTime}}</td>
                <td>{{endTime}}</td>
                <td>{{capacity}}</td>
                <td>起始时间：{{x.start}}点 剩余容量：{{x.left}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="facilityRecordSearch.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>