<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生每日信息填报</title>
    <style type="text/css">#iCenter{width:300px; height: 280px; border:1px #000 solid;margin:20px auto;}</style>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=a891b01ccf95c0a35d1d30a5fe4b4267"></script>
    <link rel="stylesheet" href="../pages/lib/bootstrap.css">
    <script src="../pages/lib/jquery.js"></script>
    <script src="../pages/lib/bootstrap.js"></script>
    <script src="../pages/lib/axios.js"></script>
    <script src="../pages/lib/vue.js"></script>
    <!--CDN
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    bootstrap.js依赖于jquery.js，因此先引入
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    -->
    <style>
        body {
            padding-top: 0px;
        }

        .starter {
            padding: 40px 15px;
            text-align: center;
        }


    </style>

</head>
<body>
<div id="app">
    <!--页面顶部的导航栏-->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">学生每日信息填报</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <iframe name=submitwin style='display:none'></iframe>
                <form class="navbar-form navbar-left" id="query_time" name="query_time" target=submitwin method="post">
                    <div class="form-group">
                        <label>填报学生学号:</label>
                        <input id="number" type="text" class="form-control" v-model="number1"/>
                        <label>请输入查询日期:</label>
                        <input id="date" type="date" class="form-control" v-model="data"/>
                    </div>
                    <button type="submit" class="btn btn-default" @click="submit">提交</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="16.html">清空</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">其他 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="login.html">退出登录</a></li>
                            <li><a href="main.html">返回主页</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--页面底部的导航栏-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    学生健康信息数据库/疫情打卡系统
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">首页</a></li>
                    <li><a href="#">登录</a></li>-->
                    <li><a href="#">Copyright@2020</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div style="text-align:center;">
        <h3 >您今日的健康状况是：</h3>
        <input type= "radio" id= "健康" value= "0" v-model ="picked">
        <label for = "健康">健康</label>
        <input type= "radio" id= "发热" value= "1" v-model ="picked">
        <label for = "发热">发热</label>
        <input type= "radio" id= "疑似" value= "2" v-model ="picked">
        <label for = "疑似">新冠肺炎疑似病例</label>
        <input type= "radio" id= "确诊" value= "3" v-model ="picked">
        <label for = "确诊">新冠肺炎疑似病例</label>
        <br>
            <br>
            <h3>请定位您今日所在的区域：</h3>
            <div id="iCenter"></div>
            <p id="location">您所在的位置为：</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    var mapObj = new AMap.Map('iCenter');
    mapObj.plugin('AMap.Geolocation', function () {
        geolocation = new AMap.Geolocation({
            enableHighAccuracy: true, // 是否使用高精度定位，默认:true
            timeout: 10000,           // 超过10秒后停止定位，默认：无穷大
            maximumAge: 100000,            // 定位结果缓存0毫秒，默认：0
            convert: true,            // 自动偏移坐标，偏移后的坐标为高德坐标，默认：true
            showButton: true,         // 显示定位按钮，默认：true
            buttonPosition: 'LB',     // 定位按钮停靠位置，默认：'LB'，左下角
            buttonOffset: new AMap.Pixel(10, 20), // 定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            showMarker: true,         // 定位成功后在定位到的位置显示点标记，默认：true
            showCircle: true,         // 定位成功后用圆圈表示定位精度范围，默认：true
            panToLocation: true,      // 定位成功后将定位到的位置作为地图中心点，默认：true
            zoomToAccuracy:true       // 定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
        });
        mapObj.addControl(geolocation);
        geolocation.getCurrentPosition();
        AMap.event.addListener(geolocation, 'complete', onComplete); // 返回定位信息
        AMap.event.addListener(geolocation, 'error', onError);       // 返回定位出错信息
    });
    function onComplete(obj){
        var res = '经纬度：' + obj.position +
            '\n精度范围：' + obj.accuracy +
            '米\n定位结果的来源：' + obj.location_type +
            '\n状态信息：' + obj.info;
        console.log(obj.position);
        abc.b1=obj.position.Q;
        abc.b2=obj.position.R;
        alert(res);
    }
    function onError(obj) {
        alert(obj.info + '--' + obj.message);
    }

    var abc = new Vue({
        el: "#app",
        data: {
            number1:"",
            data:"",
            picked:"",
            city:"",
            province:"",
            result:"",
            b1:0,
            b2:0
        },
        methods: {
            submit: function () {
                if ((this.b2<122)&&(this.b2>120)&&(this.b1<32)&&(this.b1>30)){
                    this.province="上海";
                    this.city="上海"
                }
                if ((this.b2<118)&&(this.b2>116)&&(this.b1<32)&&(this.b1>30)){
                    this.province="合肥";
                    this.city="安徽"
                }
                if ((this.b2<119)&&(this.b2>118)&&(this.b1<32)&&(this.b1>30)){
                    this.province="南京";
                    this.city="江苏"
                }
                if ((this.b2<122)&&(this.b2>120)&&(this.b1<30)&&(this.b1>28)){
                    this.province="浙江";
                    this.city="杭州"
                }
                if ((this.b2<112)&&(this.b2>115)&&(this.b1<23.5)&&(this.b1>21.5)){
                    this.province="广东";
                    this.city="广州"
                }
                if ((this.b2<117)&&(this.b2>115)&&(this.b1<38.5)&&(this.b1>40.5)){
                    this.province="北京";
                    this.city="北京"
                }
                console.log(this.province);
                console.log(this.city);
                if (this.number1 === "") {
                    alert("请输入学号后再点击提交！");
                } else if (this.data === "") {
                    alert("请输入日期后再点击提交！");
                } else if (this.picked === "") {
                    alert("请选择今日健康状况后再点击提交！");
                } else if (this.city === "") {
                    alert("请等待自动定位成功后再点击提交！");
                } else {
                    var url = "http://49.234.96.221:85/api/16";
                    var that = this;
                    console.log(this.number1);
                    console.log(this.data);
                    console.log(this.picked);
                    axios.post(
                        url, {
                            "s_id": that.number1,
                            "date": that.data,
                            "health_situation": that.picked,
                            "current_province": that.province,
                            "current_city": that.city
                        }).then(function (response) {
                        console.log(response.data);
                        that.result = response.data;
                        if (that.result === "打卡成功")
                            alert("打卡成功");
                        else
                            alert("打卡失败");

                    }, function (err) {
                        console.log(err);
                    })
                }
            }
        }
    })
</script>
</body>
</html> 
