<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>老师获取病假单</title>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    
        
             
          
          <div id="abc">
            <input type = "button" value ="老师获取学生病假表" @click="getForm">
   <table class="1" cellpadding="0" cellspacing="0" v-if="isshow">
     <tr>
       <td>病假单编号</td>
       <td>学号</td>
       <td>病假原因</td>
       <td>申请时间</td>
     </tr>
         
     <tr v-for="item in studentList" v-if="item != null" >
       <td>{{item.sickleave_ID}}</td>
       <td>{{item.student_ID}}</td>
       <td>{{item.reason}}</td>	
       <td>{{item.application_time}}</td>
     </tr>
   </table>
  </div>
          <!-- <div style="text-align-last: center;">
          <div id = "abc">
               <p>姓名：</p> 
                
                <input v-model="name" placeholder="">
                
                <p>学号：</p>
                
               <input v-model="student_ID" placeholder=""> -->
             
<!--               
                 <p>性别：</p>
                <input type="radio" id="男" value="男" v-model="picked">
                <label for="男">男</label>
                <br>
                <input type="radio" id="女" value="女" v-model="picked">
                <label for="女">女</label>
                <br>

                <p>
                  联系电话：
                </p>
                <input v-model = "telephone" placeholder= "编辑我……">
      
              <p>专业学院：</p>
              <input v-model="professional" placeholder="编辑我……"> -->
             
               <!-- <p >年级：</p>
               <input type= "radio" id= "大一" value= "大一" v-model ="picked">
               <label for = "大一">大一</label>
               <br>
               <input type= "radio" id= "大二" value= "大二" v-model ="picked">
               <label for = "大二">大二</label>
               <br>
               <input type= "radio" id= "大三" value= "大三" v-model ="picked">
               <label for = "大三">大三</label>
               <br>
               <input type= "radio" id= "大四" value= "大四" v-model ="picked">
               <label for = "大四">大四</label>
               <br>  -->
            
            <!-- <p>请填写病假原因：</p>
               
              <input v-model = "reason" placeholder= "">

            <p>请填写申请病假时间：</p>
            
             
             <input v-model = "application_time" placeholder= "">
          
              <p>请填写预计销假时间：</p>
             <input v-model = "endtime" placeholder= "编辑我……"> -->
             <div style="text-align:center;">
             <div id = "abd">
           <h1>老师审批</h1>
            <p>批准老师ID：</p>
            <input v-model = "teacher_ID" placeholder="">

            <p>批准时长(天)：</p>
            <input v-model = "allowedays" placeholder="">

            <p>老师批准病假时间：</p>
            <input v-model = "approval_time" placeholder="">

            <p>病假单编号：</p>
            <input v-model = "sickleave_ID" placeholder="">
             <p> </p>
            <input type = "button" value ="提交审批后的病假单" @click="submitone">
           
            <!-- <input type = "button" value ="学生点击提交" @click="submit"> -->
            
             <!-- <ul class="student_list">
             <li v-for="item in studentList">
              <div class ="info_stuID"><span calss ="stu">{{ item.student_ID }}</span></div>
             </li>
           </ul> -->
          </div>
        </div>
         <script>
          
          

           
           
      var abc =   new Vue({
          el:"#abc",
          data:{
          // name:'',
          student_ID:'',
          //picked : '男',
          //professional:'',
          //picked : '大一',
          reason:'',
          application_time:'',
         // endtime:'',
         // telephone:'',
          // teacher_ID:'',
          // allowedays:'',
          // approval_time:'',
          isshow:false,
          studentList:[]
          },
         
          methods:{
            getForm:function(){
              var that = this;
              axios.get("http://49.234.96.221:85/api/12/apply/SSE").then(function(response){//http://49.234.96.221:85/api/12/apply/+老师的department
              
               //that.application_time= response.data.application_time
                //console.log(response)
             console.log(response.data);
             that.studentList = response.data;
             that.isshow= true;
              },function(err){  })
            }
          },
          }
        )

        var abd = new Vue({//老师从后端获取数据，approvaltime（老师批准病假时间），teacherID，allowedays（允许病假时长）
          el:"#abd",
          data:{
            teacher_ID:'',
            allowedays:'',
            approval_time:'',
            sickleave_ID:''
          },
          methods:{
            submitone:function(){
              console.log(this.date);
                var url = "http://49.234.96.221:85/api/12/agree";//老师从后端获取数据，approvaltime（老师批准病假时间），teacherID，allowedays（允许病假时长）
                let that = this;
				axios.post(
					url, {
            "teacher_ID": this.teacher_ID,
            "allowedays":this.allowedays,
            "approval_time":this.approval_time,
           "sickleave_ID":this.sickleave_ID
					}).then(function (response) {
						alert("提交成功");
						that.result = response.data;
						console.log(response.data)
						}, function (err) {
							console.log(err);
						})
            }
            }
          }
        )
          </script>
</body>
</html>