<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>学生健康信息数据库</title>

    <meta name="keywords" content="学生健康信息数据库,疫情打卡系统,同济大学,嘉定校区,同济大学嘉定校区,同济大学软件学院,数据库课设,同济大学软件学院数据库课设">
    <meta name="description" content="学生健康信息数据库/疫情打卡系统是同济大学软件学院数据库课设某项目组的作品">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/><![endif]-->
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="pages/lib/bootstrap.css" rel="stylesheet">
    <link href="pages/Template/css/common/font-awesome.css" rel="stylesheet">
    <link href="pages/Template/css/common/style.css" rel="stylesheet">
    <script src="pages/lib/vue.js"></script>
    <script src="pages/lib/jquery.js"></script>
    <script src="pages/lib/bootstrap.js"></script>
    <script src="pages/lib/axios.js"></script>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
        <form>
            <div style="text-align:center;">
                <h1>学生状态当前功能状态查询</h1>
            </div>
            <div style="text-align-last: center;">
                <h3>请输入您要查询学生的姓名和学号！</h3>
                <div id="basic">
                    <p>姓名：</p>
                    <input v-model="name1" placeholder="（输入6个9查询全部）">
                    <p>学号：</p>
                    <input v-model="student_ID" placeholder="（输入6个9查询全部）">
                </div>
                <br>
                <input type = "submit" value ="提交" >
            </div>
        </form>
        <div class="container">
            <table class="table table-hover ">
                <caption>学生当前状态（仅显示非正常状态下的学生）</caption>
                <thead>
                <tr>
                    <th>student_ID</th>
                    <th>学生状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr v-for="items in result">
                    <td v-for="x in items">{{x}}</td>
                </tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        new Vue({
            el: '#basic',
            data: {
                name1:"",
                student_ID:"",
                result:[]
            },
            methods: {
                submit: function () {
                    var url = "";
                    let that = this;
                    axios.post(
                        url, {
                            "student_ID": this.student_ID
                        }).then(function (response) {
                        that.result = response.data;
                    }, function (err) {
                    })
                }
            }
        })
    </script>

<!-- 全局js -->
<script src="pages/lib/jquery.js"></script>
<script src="pages/lib/bootstrap.js"></script>
<script src="pages/Template/lib/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="pages/Template/lib/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="pages/Template/lib/plugins/layer/layer.min.js"></script>

<!-- 自定义js -->
<script src="pages/Template/js/main.js"></script>
<script type="text/javascript" src="pages/Template/js/index.js"></script>

<!-- 第三方插件 -->
<script src="pages/Template/lib/plugins/pace/pace.min.js"></script>
<script src="pages/Template/lib/tabs/bootstrap-tab.js"></script>
<script>

    function addTabs(id, text, url) {
        console.log(url)
        $("#J_iframe").prop('src', url);
    }

    var ch = window.innerHeight;
    $("#content-main").height(ch  + 'px');
</script>

<script>
    var abc = new Vue({
        el: "#wrapper",
        data: {
            theusername: "我们的DBA",
            identity: "管理员",
            student_number: "",
            profile_photo:"",
            urlofchatroom:"pages/chat.html"
        },
        mounted: function () {
            var urlA = location.search.split('?');
            this.student_number = urlA[1];
            //console.log(this.student_number);
            this.profile_photo="pages/Template/images/"+this.student_number+".jpg";
            this.urlofchatroom="pages/chat.html?"+this.student_number;//这句是为了chat.html这个页面能获取到url里学号的信息
        },
        methods: {}
    })
</script>
</body>

</html>
